<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Текущее положение машин</title>
</head>
<body>

<div layout:fragment="title">
    Отчет по текущему положению машин
</div>

<div layout:fragment="content">
    <div class="container">
        <table class="table mt-3">
            <thead>
            <tr>
                <th style="vertical-align: middle; text-align: center" scope="col">№</th>
                <th style="vertical-align: middle; text-align: center" scope="col">Номер</th>
                <th style="vertical-align: middle; text-align: center" scope="col">A</th>
                <th style="vertical-align: middle; text-align: center" scope="col">ID</th>
                <th style="vertical-align: middle; text-align: center" scope="col">Время ПK</th>
                <th style="vertical-align: middle; text-align: center" scope="col">Время ПС</th>
                <th style="vertical-align: middle; text-align: center" scope="col">Широта</th>
                <th style="vertical-align: middle; text-align: center" scope="col">Долгота</th>
                <th style="vertical-align: middle; text-align: center" scope="col">Скорость</th>
                <th style="vertical-align: middle; text-align: center" scope="col">Курс</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dev_inf : ${dev_inf_lst}">
                <th th:style="${dev_inf.style}" th:text="${dev_inf.id}"></th>
                <th th:style="${dev_inf.style}" th:text="${dev_inf.no}"></th>
                <th th:style="${dev_inf.style}">
                    <input th:checked="${dev_inf.active}" disabled="disabled" type="checkbox">
                </th>
                <th th:style="${dev_inf.style}" th:text="${dev_inf.device}"></th>
                <th th:style="${dev_inf.style}" th:text="${dev_inf.lats}"></th>
                <th th:style="${dev_inf.style}" th:text="${dev_inf.lrts}"></th>
                <th th:style="${dev_inf.style}" th:text="${dev_inf.lat}"></th>
                <th th:style="${dev_inf.style}" th:text="${dev_inf.lng}"></th>
                <th th:style="${dev_inf.style}" th:text="${dev_inf.speed}"></th>
                <th th:style="${dev_inf.style}" th:text="${dev_inf.course}"></th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>