<!DOCTYPE html>
<html layout:decorate="~{layouts/layoutMap}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Документы</title>
</head>
<body>

<div layout:fragment="title" style="margin-left: 450px;">
  Просмотр Документа
</div>

<div layout:fragment="content">
  <div class="container" style="margin: 20px">
    <div style="vertical-align: middle; text-align: center;">
<!--      <iframe src="https://drive.google.com/file/d/1g7dU2h2PHwQDKmpfgQMNT66wCx4tGzEu/preview" width="640" height="480" allow="autoplay"></iframe>-->
<!--      <iframe src="http://localhost:8080/pdf" width="1500" height="1500"></iframe>-->
<!--      <object data="/images/doc.pdf" type="application/pdf" width="100%" height="100%">-->
<!--        <p>Alternative text - include a link <a href="/images/doc.pdf">to the PDF!</a></p>-->
<!--      </object>-->
        <div th:utext="${abc}"></div>
    </div>
    <nobr>
      <button style="margin-top: 5px; margin-left: 145px" type="submit" class="btn btn-success">Распечатать</button>
      <button style="margin-top: 5px" type="submit" class="btn btn-warning">Отказать в подписи</button>
      <button style="margin-top: 5px; margin-left: 420px" type="submit" class="btn btn-info">Подписать</button>
    </nobr>
  </div>
</div>

</body>
</html>