<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <div th:replace="fragments/header :: links"></div>
    <link type='text/css' th:href="@{css/login.css}" href="" rel="stylesheet" id="login-css">
</head>
<body>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <img src="images/ining_color.jpg" id="icon" alt="User Icon" />
            </div>

            <form th:action="@{/login}" method="post">
                <input type="text" id="login" class="fadeIn second" name="username" placeholder="login">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
                <input type="submit" class="btn btn-primary btn-lg" value="Войти">
            </form>

            <div id="formFooter">
                <a class="underlineHover" href="#">Забыли пароль?</a>
            </div>

        </div>
    </div>

</body>
</html>