<!DOCTYPE html>
<html layout:decorate="~{layouts/layoutMap}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Документ</title>
</head>
<body>

<div layout:fragment="title" style="margin-left: 50px">
    Пакетное создание документов
    <nobr style='vertical-align: middle; text-align: center; margin-left: 500px;'>
        <img style='vertical-align: middle; text-align: center;width: 15px;' src="/images/user.png">
        <span th:text="${user}" style="vertical-align: middle; margin-left: 2px; font-size: 14px"></span>
    </nobr>
</div>

<div layout:fragment="content">
    <div class="container" style="margin: 20px">

        <div style="display: inline-block">
            <iframe id="iframe" src="" width="500" height="750"></iframe>
                <form th:action="@{/multi_add}" method="post" style="display: inline;padding: 5px; vertical-align: top;" enctype="multipart/form-data" onsubmit="return check(document.getElementById('tmp').options[document.getElementById('tmp').selectedIndex].value)">
                    <div style="display: inline-block; margin-left: 50px">
                        <br>
                        Шаблон
                        <select onchange="frame(this.options[this.selectedIndex].value)" style="height: 28px;  margin-bottom: 20px" id="tmp" name="tmp">
                            <option value="0">Нет</option>
                            <option th:each="tmp : ${template}" th:value="${tmp.Tcpat}" th:text="${tmp.Des}"></option>
                        </select>
                        <br>
                        <br>
                        Дата создания
                        <input th:value="${date}" type="date" id="date" name="date" style="width: 200px;margin-bottom: 20px">
                        <br>
                        <br>
                        <span> Отдел:</span>
                        <select style="height: 28px" id="mode1" name="mode">
                            <option value="">Все отделы</option>
                            <option th:each="dep : ${deps}" th:value="${dep.key12}" th:text="${dep.val}"></option>
                        </select>
                        <br>
                        <br>
                        <br>
                        Должность
                        <select style="height: 28px;  margin-bottom: 20px; width: 200px;" id="wp" name="wp">
                            <option value="">Нет</option>
                            <option th:each="pst : ${pstmst}" th:value="${pst.Pst}" th:text="${pst.Des}"></option>
                        </select>
                        <div>
                            <br>
                            Дата с
                            <input type="date" id="date1" name="date1" style="width: 200px;margin-bottom: 20px">
                        </div>

                        <div>
                            <br>
                            Дата по
                            <input type="date" id="date2" name="date2" style="width: 200px;margin-bottom: 20px">
                        </div>
                        <div>
                            <br>
                            Количество
                            <input value="0" type="number" id="qnt" name="qnt" style="width: 50px;margin-bottom: 20px">
                        </div>
                        <br>
                        <button id="btnStart" type="submit" class="btn btn-success">Создать документы</button>
                    </div>
                </form>
        </div>
    </div>
    <script>
        function check(gg){
            if(gg.toString() !== "0")
                return true;
            alert("Для создания документов сначала выберете подходящий шаблон!");
            return false;
        }
        function frame(tcpoa){
            if(tcpoa.toString() !== "0") {
                // document.getElementById("iframe").style.display = "";
                document.getElementById('iframe').src = '/tmp_pdf_file?tcpat='+tcpoa;
            } else{
                // document.getElementById("iframe").style.display = "none";
                document.getElementById("iframe").src = "";
            }
        }
    </script>
</div>

</body>
</html>