<!DOCTYPE html>
<html layout:decorate="~{layouts/layoutMap}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Шаблон</title>
</head>
<body>

<div layout:fragment="title" style="margin-left: 50px">
  Редактирование шаблона
</div>

<div layout:fragment="content">
  <div class="container" style="margin: 20px">
      <form th:action="@{/edit_tmp_post}" method="post" style="display: inline" enctype="multipart/form-data">
<!--        <input type="hidden" name="entby" id="entby" th:value="${user}">-->
          <!--        <input type="hidden" name="entdte" id="entdte">-->
        <nobr>
          Шаблон
          <input type="number" id="tcpa" name="tcpa" th:value="${Tcpat}" style="width: 90px; margin-right: 30px" readonly>
          Название
          <input type="text" id="des" name="des" th:value="${Des}" style="width: 350px;">
        </nobr>
        <br>
        <br>
        <nobr>
          Создатель
          <select id="crt" name="crt" style="margin-right: 30px">
            <option value="0">Нет</option>
            <option value="1">Руководитель Предприятия</option>
            <option value="2">Руководитель Региона</option>
            <option value="3">Руководитель Отдела</option>
            <option value="4">Сотрудник</option>
            <option value="10">Все</option>
            <option value="21">Отдел персонала</option>
            <option value="22">Транспортны отдел</option>
            <option value="23">Юридический отдел</option>
          </select>
          Согласовать
          <select id="app" name="app" style="margin-right: 30px">
            <option value="0">Нет</option>
            <option value="1">Руководитель Предприятия</option>
            <option value="2">Руководитель Региона</option>
            <option value="3">Руководитель Отдела</option>
            <option value="4">Сотрудник</option>
            <option value="10">Все</option>
            <option value="21">Отдел персонала</option>
            <option value="22">Транспортны отдел</option>
            <option value="23">Юридический отдел</option>
          </select>
          Утвердить
          <select id="agr" name="agr" style="margin-right: 30px">
            <option value="0">Нет</option>
            <option value="1">Руководитель Предприятия</option>
            <option value="2">Руководитель Региона</option>
            <option value="3">Руководитель Отдела</option>
            <option value="4">Сотрудник</option>
            <option value="10">Все</option>
            <option value="21">Отдел персонала</option>
            <option value="22">Транспортны отдел</option>
            <option value="23">Юридический отдел</option>
          </select>
          Исполнить
          <select id="exe" name="exe">
            <option value="0">Нет</option>
            <option value="1">Руководитель Предприятия</option>
            <option value="2">Руководитель Региона</option>
            <option value="3">Руководитель Отдела</option>
            <option value="4">Сотрудник</option>
            <option value="10">Все</option>
            <option value="21">Отдел персонала</option>
            <option value="22">Транспортны отдел</option>
            <option value="23">Юридический отдел</option>
          </select>
        </nobr>
        <br><br>
        <nobr>
          В архив (мес.)
          <input type="number" id="lifetime" name="lifetime" th:value="${Lifetime}" style="width: 40px; margin-right: 1061px">
          Хранить (лет)
          <input type="number" id="savetime" name="savetime" th:value="${Savetime}" style="width: 40px;">
        </nobr>

          <br>
          <br>
          <div th:if="${docx}">
              <iframe th:attr="src=${tmp_src}" width="500" height="750"></iframe>
              <br>
              <br>
          </div>
        <input id="fileupload" type="file" name="fileupload"/><br>
        <br>
        <button id="btnStart" type="submit" class="btn btn-success">Сохранить</button>
      </form>
      <script>
          let crt = document.getElementById('crt').getElementsByTagName('option');
          for (let i = 0; i < crt.length; i++) {
              if (crt[i].value === '[[${Crtdoctyp}]]') crt[i].selected = true;
          }

          let app = document.getElementById('app').getElementsByTagName('option');
          for (let i = 0; i < app.length; i++) {
              if (app[i].value === '[[${Aprdoctyp}]]') app[i].selected = true;
          }

          let agr = document.getElementById('agr').getElementsByTagName('option');
          for (let i = 0; i < agr.length; i++) {
              if (agr[i].value === '[[${Agrdoctyp}]]') agr[i].selected = true;
          }

          let exe = document.getElementById('exe').getElementsByTagName('option');
          for (let i = 0; i < exe.length; i++) {
              if (exe[i].value === '[[${Exedoctyp}]]') exe[i].selected = true;
          }
      </script>
    <div style="vertical-align: middle; text-align: center;">

    </div>
  </div>
</div>

</body>
</html>